@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import './theme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope;
}

:root {
  background-color: var(--background);
  color: var(--text);
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text);
}

button {
  background-color: var(--accent);
  color: var(--highlight);
  border: none;
  padding: 0.6em 1.5em;
  cursor: pointer;

  &:hover {
    background-color: var(--highlight);
    color: var(--highlight-text);
  }
}
